<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKey</key>
	<string>{ Your api key }</string>
	<key>BasePath</key>
	<string>http://api.themoviedb.org/3</string>
	<key>ImageBasePath</key>
	<string>http://image.tmdb.org/t/p/w500</string>
	<key>UpcomingFilmsEndpoint</key>
	<string>/movie/upcoming</string>
	<key>NowPlayingFilmsEndpoint</key>
	<string>/movie/now_playing</string>
	<key>PopularFilmsEndpoint</key>
	<string>/movie/popular</string>
	<key>SearchFilmsEndpoint</key>
	<string>/search/movie</string>
	<key>FilmByIdEndpoint</key>
	<string>/movie/</string>
	<key>FilmReleaseDateEndpoint</key>
	<string>/movie/%@/releases</string>
	<key>DateFormat</key>
	<string>yyyy-MM-dd</string>
</dict>
</plist>
